<div class="backGround">
<div class="container">
  <div *ngIf="!user && adminkey">
        <div class="card card-login mx-auto mt-5">
          <div class="card-header">Login</div>
          <div class="card-body">
                   
              <button  class="btn btn-primary btn-block" (click)="login()">Login with Google</button>
              <button routerLink="/home" class="btn btn-primary btn-block" (click)="changeAdminkey()">Ignore</button>     
          </div>      
        </div>
        </div>
        <div *ngIf="user && check && adminkey">
        <div *ngIf= "!user.roles?.admin? true:false" >
    
                <div class="card card-login mx-auto mt-5">
                 
                  <div class="card-body">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Admin Key"  id='AdminPW' (keyup.enter)="PWmatch($event.target.value)">
 
                    </mat-form-field>    
                     <popup (confirmClick)="YourConfirmEvent()" (cancelClick)="YourCancelEvent()">Invalid Admin key</popup>
                      <button routerLink="/home" class="btn btn-primary btn-block" (click)="changeAdminkey()">Ignore</button>     
                  </div>      
                </div>
                </div>
              </div>
            
     </div>
</div>
