<form>
        
  <div class="form-group">
    <label>bus route number</label>
    <input class="form-control" name="brno" placeholder="bus route number" required>
  </div> 
  <div class="form-group">
        <label>from</label>
        <input class="form-control" name="from" placeholder="from" required>
</div> 
<div class="form-group">
        <label>to</label>
        <input class="form-control" name="to" placeholder="to" required>
</div>
<div class="form-group">
        <label>stop points</label>
        <textarea class="form-control" name="stop points" placeholder="stop points" required>
            </textarea>
</div>
  <div class="form-group">
  <label>Phone number</label>
  <input class="form-control" name="Phone"   placeholder="Phone number" required>
  </div>
  <div class="form-group">
  <button class="btn btn-default" type="submit" >sumbit</button>
  <button class="btn btn-default" type="button" > Reset</button>
  </div>
  
</form>