<form>
        
        <div class="form-group">
          <label>bus stand name</label>
          <input class="form-control" name="bsname" placeholder="bus stand name" required>
        </div> 
        <div class="form-group">
              <label>location</label>
              <input class="form-control" name="location" placeholder="location" required>
      </div> 
      <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="desc" placeholder="Description" required>
                  </textarea>
      </div>

        <div class="form-group">
        <label>Phone number</label>
        <input class="form-control" name="Phone"   placeholder="Phone number" required>
        </div>
        <div class="form-group">
        <button class="btn btn-default" type="submit" >sumbit</button>
    
        </div>
        
      </form>