<div class="image">
    <mat-grid-list cols="1" rowHeight="15:1">
        <mat-grid-tile><h1 class="title">EASY TRAVEL</h1>
            <br><br>
                        <p >Mobile Application for TRAVEL</p></mat-grid-tile>

    </mat-grid-list>
    
           <chat-dialog></chat-dialog>

 
            
    
    
</div>
<footer>
    <footer class="footer-section background-dark" >
        <div class="container">
            <div class="row">
    
                <div class="footer-header">
                    <div class="section-separator">
                        
                        <div class="each-section col-sm-3 col-xs-12">
    
                            <p class="title"><strong>Services</strong></p>
                            <ul class="nav link-list">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
    
                        </div> <!-- End: .each-section -->
                        <div class="each-section col-sm-3 col-xs-12">
    
                            <p class="title"><strong>Resources</strong></p>
                            <ul class="nav link-list">
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Reviews</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Register</a></li>
                            </ul>
    
                        </div> <!-- End: .each-section -->
                        <div class="each-section col-sm-3 col-xs-12">
    
                            <p class="title"><strong>Contact us</strong></p>
                            <ul class="nav link-list">
                                <li>99/4 Ampitiya road kandy</li>
                                <li><a href="callto:18562361853">Call us +94710330556</a></li>
                                <li><a href="mailto:amila.jeewantha95@gmail.com">amila.jeewantha95@gmail.com</a></li>
                                <li><a href="#">Locate on Google Map</a></li>
                            </ul>
                            
                        </div> <!-- End: .each-section -->
                        <div class="each-section vertical-bottom col-sm-3 col-xs-12">
                            
                            <ul class="nav">
                                <li>
                                    <div class="li-inner">
                                        <ul class="nav social-icon">
                                            <li><a href="#"><i class="icon icons8-facebook"></i></a></li>
                                            <li><a href="#"><i class="icon icons8-twitter"></i></a></li>
                                            <li><a href="#"><i class="icon icons8-pinterest"></i></a></li>
                                            <li><a href="#"><i class="icon icons8-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            
                        </div> <!-- End: .each-section -->
    
                    </div>
                </div> <!-- End: .footer-header -->
    

    
            </div><!-- End: .section-separator  -->
        </div> <!-- End: .container  -->
    </footer>
 
</footer>
